:root {
  --color-primary: #5e503f;
  --color-secondary: #0a0908;
  --color-text: #22333b;
  --color-background: #e0e2db;
  --color-design1: #b0a990;
  --color-design2: #55917f;
  --color-design3: #fff;
  --color-text2: #0a0908;
}

.dark-theme {
  --color-primary: #5e503f;
  --color-secondary: #e0e2db;
  --color-text: #486c7c;
  --color-background: #161616;
  --color-design1: #949494;
  --color-design2: #55917f;
  --color-design3: #5e503f;
  --color-text2: #161616;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.6em;
  width: 100%;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-background);
}

header h1 {
  font-size: 1.5rem;
  color: var(--color-text);
  font-weight: 800;
}

header h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 1rem;
}

#navbar ul li {
  margin-right: 1.3rem;
  font-size: 1rem;
  font-weight: bold;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

#navbar ul li a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

#navbar ul li a.active {
  color: var(--color-primary);
  text-decoration: none;
}

#navbar ul li a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  text-decoration: none;
}

#toggle,
#sidebar {
  width: 50px;
  height: 50px;
}

#sun,
#moon,
#close {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sun:hover {
  cursor: pointer;
}

#moon:hover {
  cursor: pointer;
}

#end {
  display: flex;
  flex-direction: row;
}

#sidebar {
  display: none;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 4rem;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
}

#welcome-section #hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#welcome-section h1 {
  font-size: 3rem;
  font-weight: 800;
}

#welcome-section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-secondary);
}

#welcome-section p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.3rem;
}

#welcome-section p:first-of-type {
  margin-top: 2rem;
}

#content {
  position: relative;
}

#link {
  text-decoration: none;
  color: var(--color-background);
}

#content button {
  padding: 0.8rem 1.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-background);
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

#content button:hover {
  background-color: var(--color-secondary);
}

#template {
  position: relative;
  margin-right: 10px;
  right: 0;
  transform: scaleX(-1);
}

#profiles {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

#profiles img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem;
  transition: 0.4s;
}

#profiles img:hover {
  transform: scale(1.2);
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
}

#projects h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  padding-top: 65px;
}

#about h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}

.about-me {
  overflow: auto;
  flex: 1;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--color-design1);
  color: var(--color-text2);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me p {
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--color-text2);
  margin-bottom: 1rem;
}

.about-me p:last-of-type {
  margin-bottom: 0;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  padding-top: 65px;
}

#skills h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}

#skills p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
}

.skills-section {
  width: 70vw;
  max-height: auto;
  padding: 20px 20px;
  margin: 0 auto; /* Centers the section horizontally */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.category {
  background-color: var(--color-design3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: var(--color-secondary);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category.soft-skills {
  min-width: 2fr;
}

.skill-item {
  display: inline-block;
  background-color: var(--color-design2);
  color: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 0.9em;
}

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
}

#blog h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-color: var(--color-background);
}

#contact h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: var(--color-text);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-design2);
  color: var(--color-text2);
  border: 1px solid var(--color-background);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.form input,
.form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: #aaa;
}

.form button[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-design1);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
  font-weight: 600;
  height: 2.5rem;
}

.form button[type="submit"]:hover {
  background-color: var(--color-secondary);
  color: var(--color-design1);
  transform: translateY(-2px);
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.social-icons a {
  margin: 0 1rem;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 3.6em;
  background-color: var(--color-background);
  color: var(--color-text);
  padding-bottom: 3em;
  padding-top: 1.5em;
}

footer p {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: none;
    padding: 1rem;
  }

  body {
    width: 100%;
  }

  header {
    padding: 1rem;
    height: 2.8em;
  }

  header h1 {
    font-size: 1.2rem;
  }

  header h1::after {
    height: 1px;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
    position: absolute;
    top: 2.8em;
    right: 0;
    width: 100%;
    background-color: var(--color-background);
    text-align: center;
    overflow: hidden;
    transition: 0.7s;
    border: 1px solid var(--color-background);
  }

  #navbar ul li {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.8rem;
  }

  #navbar ul li a {
    font-size: 0.8rem;
    color: var(--color-secondary);
    margin-right: 0.3rem;
  }

  #sidebar {
    display: block;
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 0 1rem;
  }

  #content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  #welcome-section h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  #welcome-section h3 {
    font-size: 1.2rem;
  }

  #welcome-section p {
    font-size: 0.8rem;
  }

  #welcome-section #template {
    display: none;
  }

  #content button {
    font-size: 0.8rem;
  }

  #profiles img {
    width: 2rem;
    height: 2rem;
  }

  #projects {
    margin: 10rem 0;
    height: auto;
    padding: 2rem;
  }

  #projects h2 {
    font-size: 1.5rem;
  }

  #projects .project-tile {
    width: 45%;
  }

  #projects .project-tile h3 {
    font-size: 1rem;
  }

  #projects .project-tile p {
    font-size: 0.8rem;
  }

  #projects .project-tile a {
    font-size: 0.8rem;
  }

  .about-me {
    padding: 1rem;
    max-width: 340px;
  }

  #about h2 {
    font-size: 1.5rem;
  }

  #about h3 {
    font-size: 1rem;
  }

  #about p {
    font-size: 0.8rem;
  }

  #about #bio img {
    width: 8rem;
    height: 8rem;
  }

  #skills {
    margin-top: -10rem;
  }

  #skills h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  #skills p {
    font-size: 0.6rem;
  }

  #skills .skill-tile {
    width: 45%;
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }

  #blog {
    margin: 15rem 0 0 0;
  }

  #blog h2 {
    font-size: 1.5rem;
  }

  #contact h1 {
    font-size: 2rem;
  }

  footer {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 1em;
  }
}
