<!DOCTYPE html> {% extends 'base.html' %} {% block title %} About Me
{%endblock%} {% block content %}
<section id="about">
  <h2>About Me</h2>
  <div class="about-me">
    <p>
      Hey! I'm David, an emerging AI/ML Engineer with a deep interest in AI and
      Robotics. I am driven by a desire to push the boundaries of what
      technology can achieve, focusing on creating intelligent systems that
      address real-world problems and enhance lives.
    </p>
    <p>
      While I am still in the early stages of blending innovation with practical
      solutions, I am continually expanding my knowledge and skills in
      technology. When I’m not immersed in coding projects, you might find me
      experimenting with fashion trends or discovering new hobbies, always
      seeking fresh ideas and inspiration.
    </p>
    <p>
      Looking ahead, I am excited about the future and eager to take on new
      challenges that will help me master AI and Robotics, contributing to
      groundbreaking advancements in these fields. If you're interested in
      collaborating or discussing exciting tech opportunities, feel free to
      reach out—I'm always open to connecting with fellow innovators!
    </p>
    <div id="content">
      <button><a href="#contact" id="link">Get in touch</a></button>
    </div>
  </div>
</section>
{% endblock %}
