<!DOCTYPE html> {% extends 'base.html' %} {% block title %} Skills {%endblock%}
{% block content %}
<section id="skills">
  <h2>Skills</h2>
  <div class="skills-section">
    <div class="skills-grid">
      <!-- Programming Languages -->
      <div class="category">
        <h3>Programming Languages</h3>
        <div class="skills-list">
          <span class="skill-item"><i class="fab fa-html5"></i> HTML</span>
          <span class="skill-item"><i class="fab fa-css3-alt"></i> CSS</span>
          <span class="skill-item"
            ><i class="fab fa-js-square"></i> JavaScript</span
          >
          <span class="skill-item"><i class="fab fa-python"></i> Python</span>
          <!-- Add more languages with icons here -->
        </div>
      </div>
      <!-- Frameworks -->
      <div class="category">
        <h3>Frameworks</h3>
        <div class="skills-list">
          <span class="skill-item"
            ><i class="fab fa-bootstrap"></i> Bootstrap</span
          >
          <span class="skill-item"
            ><i class="fab fa-foundation"></i> Foundation</span
          >
          <span class="skill-item"
            ><i class="fab fa-buromobelexperte"></i> Bulma</span
          >
          <span class="skill-item"
            ><i class="fab fa-css3-alt"></i> Tailwind CSS</span
          >
          <span class="skill-item"
            ><i class="fab fa-css3-alt"></i> Pure CSS</span
          >
          <span class="skill-item"><i class="fas fa-python"></i> Django</span>
          <span class="skill-item"><i class="fas fa-flask"></i> Flask</span>
          <!-- Add more frameworks here -->
        </div>
      </div>
      <!-- Tools -->
      <div class="category">
        <h3>Tools</h3>
        <div class="skills-list">
          <span class="skill-item"><i class="fab fa-git"></i> Git</span>
          <span class="skill-item"><i class="fab fa-github"></i> GitHub</span>
          <span class="skill-item"
            ><i class="fas fa-code"></i> Visual Studio Code</span
          >
          <span class="skill-item"><i class="fab fa-figma"></i> Figma</span>
          <span class="skill-item"><i class="fab fa-adobe"></i> Photoshop</span>

          <!-- Add more tools here -->
        </div>
      </div>
      <!-- Technologies -->
      <div class="category">
        <h3>Technologies</h3>
        <div class="skills-list">
          <span class="skill-item"><i class="fas fa-brain"></i> OpenAI</span>
          <!-- Add more technologies here -->
        </div>
      </div>
      <!-- Soft Skills -->
      <div class="category" style="grid-column: span 2">
        <h3>Soft Skills</h3>
        <div class="skills-list">
          <span class="skill-item"
            ><i class="fas fa-comments"></i> Effective Communication</span
          >
          <span class="skill-item"
            ><i class="fas fa-user-friends"></i> Team Leadership</span
          >
          <span class="skill-item"
            ><i class="fas fa-lightbulb"></i> Creativity</span
          >
          <span class="skill-item"
            ><i class="fas fa-calendar-alt"></i> Time Management</span
          >
          <span class="skill-item"
            ><i class="fas fa-handshake"></i> Collaboration</span
          >
          <span class="skill-item"
            ><i class="fas fa-cogs"></i> Problem-Solving</span
          >
          <span class="skill-item"><i class="fas fa-heart"></i> Empathy</span>
          <span class="skill-item"
            ><i class="fas fa-check-circle"></i> Decision-Making</span
          >
          <!-- Add more soft skills here -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
